<head data-th-fragment="head(title)">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
<title data-th-text="${title}">Hello, world</title>
<link rel="stylesheet" data-th-href="@{/css/metro-bootstrap.min.css}" />
<link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" data-th-href="@{/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" data-th-href="@{/css/bootstrap-table-expandable.css}" />
<link rel="stylesheet" data-th-href="@{/css/bootstrap-tagsinput.css}" />
<link rel="stylesheet" data-th-href="@{/css/summernote.css}"/>
<link rel="stylesheet" data-th-href="@{/css/summernote-bs3.css}"/>
<link rel="stylesheet" data-th-href="@{/css/theme.default.css}"/>
<link rel="stylesheet" data-th-href="@{/css/main.css}" />
<link rel="stylesheet" data-th-href="@{/css/fontawesome.css}" />
<link rel="stylesheet" data-th-href="@{/css/jquery-ui.min.css}" />
<link rel="icon" type="image/png" data-th-href="@{/images/favicon.ico}" />
</head>