<div data-th-fragment="global">
  <script data-th-src="@{/js/jquery.min.js}"></script>
  <script data-th-src="@{/js/bootstrap.min.js}"></script>
  <script data-th-src="@{/js/jquery-ui.min.js}"></script>
  <script data-th-src="@{/js/typeahead.js}"></script>
  <script data-th-src="@{/js/functions.js}"></script>
  <script data-th-src="@{/js/global.js}"></script>
</div>

<div data-th-fragment="index">
  <script data-th-src="@{/js/jquery.cookie-1.4.1.min.js}"></script>
  <script data-th-src="@{/js/index.js}"></script>
</div>

<div data-th-fragment="table">
  <script data-th-src="@{/js/bootstrap-table-expandable.js}"></script>
  <script data-th-src="@{/js/bootstrap-tagsinput.min.js}"></script>
  <script data-th-src="@{/js/vis.min.js}"></script>
  <script data-th-src="@{/js/summernote.js}"></script>
  <script data-th-src="@{/js/jquery.tablesorter.min.js}"></script>
  <script data-th-src="@{/js/table.js}"></script>
</div>

<div data-th-fragment="taxonomy">
  <script data-th-src="@{/js/taxonomy.js}"></script>
</div>