<!DOCTYPE html>
<html>
<!-- CSS -->
<head data-th-replace="includes/head :: head('Otto Group BI')"></head>
<body>
  <!-- HEADER NAVIGATION -->
  <nav data-th-replace="header/header :: navigation"></nav>
  <!-- CONTENT BEGIN -->
  <form data-th-action="@{/logout}" method="post">
    <div class="container">
      <span class="alert alert-danger col-md-12">
        <span data-th-text="'Access denied. You are not allowed to view this page.'"></span>
        <button class="btn-link" type="submit">Logout</button>
      </span>
    </div>
  </form>
  <!-- CONTENT END -->
  <!-- JAVASCRIPT -->
  <div data-th-replace="includes/scripts :: javascript"></div>
</body>
</html>