<!DOCTYPE html>
<html>
<!-- CSS -->
<head data-th-replace="includes/head :: head('Otto Group BI')"></head>
<body>
  <!-- HEADER NAVIGATION -->
  <nav data-th-replace="header/header :: navigation"></nav>
  <!-- CONTENT BEGIN -->
  <div class="container">
    <span class="alert alert-danger col-md-12" data-th-text="'The requested page could not be found.'"></span>
  </div>
  <!-- CONTENT END -->
  <!-- JAVASCRIPT -->
  <div data-th-replace="includes/scripts :: global"></div>
  <div data-th-replace="includes/scripts :: index"></div>
</body>
</html>